#cuerpo{
    background-color: whitesmoke;
    border-color: black;
    margin: 0;
    padding: 0;
}
#boton{
    display:flex;
    justify-content: center;
}
#obtener{
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 7px solid;
    background-color: whitesmoke;
    font-size: 50px;
}
#obtener:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
#parte_arriba{
    background-color: red;
    margin-top: 0px;
}
#parte_abajo {
    background-color: whitesmoke;
}
#Lista_Pokemon{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
}
#pokemon{
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
}